PORT=5000
MONGO_URI=MONGO_URI

# jwt-authentication
JWT_SECRET=SECRET_KEY
JWT_EXPIRES_IN=7d

# cloudinary intergration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDE_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET

# frontend url
BASE_URL=http://localhost:3000